h1 {
    font-family: 'Berkshire Swash', cursive;
}

p,
h4 {
    font-family: 'Bree Serif', serif;
}

.banner-image {
    margin-left: -75px;
}

.banner-title {
    font-size: 48px;
    color: crimson;
}